src/main/mule/Global/retrieveroutesandschedulesapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
       <flow name="retrieveroutesandschedulesapi-main">
        <http:listener config-ref="retrieveroutesandschedulesapi-httpListenerConfig" path="/api/*" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieveroutesandschedulesapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
            
        </error-handler>
    </flow>
    <flow name="retrieveroutesandschedulesapi-console">
        <http:listener config-ref="retrieveroutesandschedulesapi-httpListenerConfig" path="/console/*" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrieveroutesandschedulesapi-config" />
		<error-handler ref="globalErrorHandlerError_Handler" />
    </flow>
    <sub-flow name="retrieveroutesandscheduleBAPI-initializeRequestVariable-Sub_Flow" doc:id="080033bf-3136-4391-9134-41c68de648e4">
		<ee:transform doc:name="initialize request variables" doc:id="69f9a615-97c2-4645-bb91-beeb41141835">
			<ee:variables>
				<ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
				<ee:set-variable variableName="transportCompany"><![CDATA[attributes.queryParams.'companyName']]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="destinationLocation" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.'destinationLocation']]></ee:set-variable>
				<ee:set-variable variableName="departureLocation" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.'departureLocation']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="get:\booking\(transportType)\routes:retrieveroutesandschedulesapi-config" doc:id="db92b8de-2f6f-4a0e-9df9-2f7d62ca32b5">
        <flow-ref doc:name="Flow Reference" doc:id="ede04a9b-ed25-4f90-8097-67643be60c8f" name="retrieveroutesandscheduleBAPI-initializeRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="ce1e3176-33ae-4d39-950a-79067d422adf" message="Request recieved for routes on BAPI  for txnId: #[vars.transactionId]"/>
		<flow-ref doc:name="GetRoutes-ImplSub_Flow" doc:id="cee8fb51-a649-42f5-940a-ab888769d496" name="GetRoutes-ImplSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="2c77eee3-d354-4aac-a749-edc0fc96827b" message="Response Sent for routes on BAPI  for txnId: #[vars.transactionId]"/>
    </flow>
    <flow name="get:\booking\(transportType)\schedules:retrieveroutesandschedulesapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="1890c10c-985c-4dd2-bbdc-c9875cabda65" name="retrieveroutesandscheduleBAPI-initializeRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="f1e3e77a-2930-49fc-a315-6a2a58b2a6fe" message="Request Recieved for Schedules on BAPI  for txnId: #[vars.transactionId]"/>
		<flow-ref doc:name="GetSchedules-ImplSub_Flow" doc:id="d7b1c46c-afe9-4154-a637-926e3598d358" name="getSchedules-ImplSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="2fab14af-f146-4f75-85b2-b26d67500564" message="Response Sent for Schedules on BAPI  for txnId: #[vars.transactionId]"/>
    </flow>
</mule>
